.home--page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    padding-top: 10rem;
}
.search--form{
    width:100%;
    max-width: 500px;

}
.search{
    width: 100%;
    max-width: 450px;

}
.inp{
    height: 50px;
    font-size: 1.5rem;
}
.search-inp{
    width: 70%;
}
.search-btn{
    width: 20%;
    cursor: pointer;
}

.btn-ed{
    border-color: var(--teal-color);
}
.btn-ed:hover{
    background-color: var(--teal-color);
    border-color: var(--teal-color);

}
.results{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.result{
    width: 100%;
    display: flex;
    width: 100%;
    max-width: 200px;
    align-items: center;
    gap:10px;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 0 0 1px 1px var(--teal-color);
    cursor: pointer;
    transition: all 0.4s ease;
}
.result:hover{
    background-color: var(--teal-color);
}
.result:hover .result-user{
    color: var(--text-color);

}
.result-img{

    border-radius: 50%;
    width: 70px;
    height: 70px;

}

.info{
    display:flex;
    flex-direction: column;
}
.result-user{
    color: var(--teal-color);
    font-size: 1.4rem;
}