{% extends 'base.html' %}
{% load static %}
{% block title %}
{{request.user.uername}} profile
{% endblock title  %}
{% block links  %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock links %}
{% block content %}

<div class="profile-page">
    <div class="profile-wrapper">
        <div class="profile-glass">
        </div>
        <div class="profile--info">
            <img class="profile--user--image" src="{{user.profile.image.url}}" />
            <h3 class="profile--user--username">{{user.username}}</h3>
            <div class="user--connections">
                <h5 class="profile--user--bio">following {{user.profile.get_follwing_count}}</h5>
                <h5 class="profile--user--bio" id="followers--count">followers {{user.profile.get_followers_count}}</h5>
                <h5 class="profile--user--bio" id ='likes--count'>people liked him {{user.profile.get_likes_count}}</h5>

      
            </div>
            <div class="bio--wrapper">
                <p class="profile--user--bio">{{user.profile.bio}}</p>

                <button class="bio--eddit--button">
                    <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </button>
            </div>
        </div>
        {% if form %}
        <form class="post-form" method="post">
            {% csrf_token %}
            <div class="form--field">
                {{form.body}}
            </div>
            <button class="post-form-button">post</button>
        </form>
        
        {% else %}
        <div class="follow--wrapper">

        {% if followed %}
        <button class="follow-btn cancel" id="follow-btn" user="{{user.id}}">unfollow</button>
        {% else %}
        <button class="follow-btn" id="follow-btn" user="{{user.id}}">follow</button>

        {%endif%}
        {% if liked %}
        <button class="follow-btn cancel" id="like-btn" user="{{user.id}}">dislike</button>

        {% else %}
        <button class="follow-btn" id="like-btn" user="{{user.id}}">like</button>

        {%endif%}

    </div>
        {% endif %}
       <div class="profile--posts">
        {% for post in posts %}
        <a class="profile--post " href="{% url 'post
        :post-details' post.slug %}">
                <p class="post--body--text">{{post.body}}</p>
        </a>
        {% endfor%}
    </div>
    </div>

</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock content %}