{% extends 'base.html' %}
{% load static %}
{% block title %}
{{request.user.uername}} profile
{% endblock title  %}
{% block links  %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock links %}
{% block content %}

<div class="profile-page">
    <div class="profile-wrapper">
        <div class="profile-glass">
        </div>
        <div class="profile--info">
            <img class="profile--user--image" src="{{user.profile.image.url}}" />
            <h3 class="profile--user--username">{{user.username}}</h3>
            <div class="user--connections">
                <h5 class="profile--user--bio">following {{user.profile.get_follwing_count}}</h5>
                <h5 class="profile--user--bio" id="followers--count">followers {{user.profile.get_followers_count}}</h5>
                <h5 class="profile--user--bio" id ='likes--count'>people liked him {{user.profile.get_likes_count}}</h5>
        </div>
            <p class="profile--user--bio">{{user.profile.bio}}</p>
        </div>
        {% if form %}
        <form class="post-form" method="post">
            {% csrf_token %}
            <div class="form--field">
                {{form.body}}
            </div>
            <button class="post-form-button">post</button>
        </form>
        
        {% else %}
        <div class="follow--wrapper">

        {% if followed %}
        <button class="follow-btn cancel" id="follow-btn" user="{{user.id}}">unfollow</button>
        {% else %}
        <button class="follow-btn" id="follow-btn" user="{{user.id}}">follow</button>

        {%endif%}
        {% if liked %}
        <button class="follow-btn cancel" id="like-btn" user="{{user.id}}">dislike</button>

        {% else %}
        <button class="follow-btn" id="like-btn" user="{{user.id}}">like</button>

        {%endif%}

    </div>
        {% endif %}
       <div class="profile--posts">
        {% for post in posts %}
        <a class="profile--post " href="{% url 'post
        :post-details' post.slug %}">
                <p class="post--body--text">{{post.body}}</p>
        </a>
        {% endfor%}
    </div>
    </div>

</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock content %}