{% extends 'base.html' %}

{% load static %}



{% block links %}
<link rel='stylesheet' href='{% static "css/home.css" %}'>
</link>
{% endblock links %}

{% block title %}
homes
{% endblock %}
{% block content %}

<div class='home--page'>

    <!--
    seach from
-->
    <form action='{% url "post:search" %}' method='get' class='search--form'>

        <div class="search" >
            <input name='qr'  class="search-inp inp " placeholder="Search" aria-label="Search"
               />
            <button class="search-btn inp">search</button>
        </div>
    </form>
    {% if search %}
    <div class='results'>
        {% if results %}
        {% for res in results %}
        <a class='result' href="{% url 'accounts:profile' res.username %}">
            <img class='result-img' src='{{res.profile.image.url}}' />
            <div class='info'>
                <h4 class='result-user'>{{res.username}}</h4>
                <h5 class='result-user'>fans 43</h5>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <h4 class='result-user'>no results</h4>
        {% endif%}
    </div>
    {% else %}
    <div class="followed--results">
        {% for post in posts %}
        <div class="followed--result">
            <div class="followed--result--top">
                <img class="followed--result--top--user--image" src="{{post.user.profile.image.url}}" />
                <div class="top--left--side">
                <h2 class="followed--result--top--user--title">{{post.title}}</h2>

                <a href="{% url 'accounts:profile' post.user.username %}" class="followed--result--top--user--username">By {{post.user.username}}</a>
            </div>
            </div>
            <div class="followed--result--body">
                <p class="followed--result--body--text">{{post.body}}</p>
            </div>
            <div class="followed--result--bottom">
              <div class="post--likes--wrapper">
                <span class="post--likes--count" id="post--likes--count">{{post.get_likes_count}}</span>

              
                <button class="post--action--btn post--heart" id="post--like--btn" postId="{{post.id}}">
                    {% if post.liked %}
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                      </svg>
                    {% endif %}
                </button>
            </div>

                <button class="post--action--btn post--comment--add">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                </button>

            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<script src="{%  static 'js/home.js' %}"></script>
{% endblock content %}