{% extends 'base.html' %}

{% load static %}



{% block links %}
<link rel='stylesheet' href='{% static "css/home.css" %}'>
</link>
{% endblock links %}

{% block title %}
homes
{% endblock %}
{% block content %}

<div class='home--page'>

    <!--
    seach from
-->
    <form action='{% url "post:search" %}' method='get' class='search--form'>

        <div class="search" >
            <input name='qr'  class="search-inp inp " placeholder="Search" aria-label="Search"
               />
            <button class="search-btn inp">search</button>
        </div>
    </form>
    {% if search %}
    <div class='results'>
        {% if results %}
        {% for res in results %}
        <a class='result' href="{% url 'accounts:profile' res.username %}">
            <img class='result-img' src='{{res.profile.image.url}}' />
            <div class='info'>
                <h4 class='result-user'>{{res.username}}</h4>
                <h5 class='result-user'>fans 43</h5>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <h4 class='result-user'>no results</h4>
        {% endif%}
    </div>
    {% endif %}
</div>

{% endblock content %}