
{% extends 'base.html' %}

{% load static %}



{% block links %}
<link rel='stylesheet' href='{% static "css/home.css" %}'></link>
{% endblock links %}

{% block title %}
homes
{% endblock %}
{% block content %}

<div class='home--page'>

<!--
    seach from
-->
<form method='post' class='search--form'> 
 {% csrf_token %} 
<div class="input-group">
    <input type="search" class="form-control rounded inp " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary btn-ed inp">search</button>
  </div>
</form>

<div class='results'>
    <div class='result'>
        <img class='result-img' src='https://picsum.photos/60/60'/>
        <div class='info'>
        <h4 class='result-user'>Chihab</h4>
        <h5 class='result-user'>fans 43</h5>
    </div>
    </div>
    <div class='result'>
        <img class='result-img' src='https://picsum.photos/60/60'/>
        <div class='info'>
        <h4 class='result-user'>Chihab</h4>
        <h5 class='result-user'>fans 43</h5>
    </div>
    </div>
</div>
</div>

{% endblock content %}