{% load static    %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel='stylesheet' href='{% static "css/main.css" %}'></link>
    {% block links %}
    
    {% endblock links %}
</head>

<body>


    <header class = 'main--header'>
        <nav class='header--nav'>
            <ul class='nav--menu'>
             <li ><a class ='menu--item' href='{% url "post:home" %}'> home</a></li>
             <li ><a class ='menu--item' href='{% url "post:search" %}'>search</a></li>
             <li ><a class ='menu--item'>news</a></li>
             <li ><a class ='menu--item'>about</a></li>
            </ul>
        </nav>
        {% if request.user.is_authenticated %}
        <div class='accounts'>
                <a href="{% url 'accounts:profile' request.user.username %}">
                <img class="accounts--user--image" src="{{request.user.profile.image.url}}" />
                <h4 class="accounts--user--username">{{request.user.username}}</h4>
            </a>
                <div class="user--actions">
                    <div class="user--action-section"><a class="logout--btn" href="{% url 'accounts:logout' %}">logout</a></div>
                </div>
        </div>
        {% else %}
        <div class="none-auth-user">
            <a class="none-auth-user--act" href="{% url 'accounts:register' %}"></a>
            <a class="none-auth-user--act login"  href="{% url 'accounts:login' %}"></a>
        </div>
        {% endif %}
    </header>


{% block content %}

{% endblock content %}  



</body>
</html>